<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>China Startups</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Start Share Facebook -->
  <meta property="fb:app_id" content="105353929816858" />
  <meta property="og:type" content="article" />
  <meta property="og:rich_attachment" content="true" />
  <meta property="og:url" content="http://op.cctvnews.cn/chinastartup" />
  <meta property="og:title" content="China Startups" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="2000" />
  <meta property="og:image:width" content="1333" />
  <meta property="og:description" content="" />
  <!-- End Share Facebook -->

  <!-- Start Share Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cctvnews">
  <meta name="twitter:creator" content="@cctvnews">
  <meta name="twitter:title" content="China Startups">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <!-- End Share Twitter -->

  <link rel="stylesheet" href="/build/chinastartup/styles/main.css">
  <link rel="stylesheet" href="/build/chinastartup/styles/slick.css">

  <!-- html5 hack -->
  <!--[if lt IE 9]>
    <script src="/build/chinastartup/scripts/shimjs/html5shiv.min.js"></script>
    <script src="/build/chinastartup/scripts/shimjs/es5-sham.min.js"></script>
    <script src="/build/chinastartup/scripts/shimjs/es5-shim.min.js"></script>
  <![endif]-->

  <!-- Growing IO -->
  <script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
      _vds.push(['setAccountId', '89315168a7d44eda84a2205417fdfb38']);
      (function() {
        var vds = document.createElement('script');
        vds.type='text/javascript';
        vds.async = true;
        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(vds, s);
      })();
    })();
  </script>

  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66998167-3', 'auto');
    ga(function(tracker){
      console.log('GA');
    });
  </script>
  <!-- End: GA -->
</head>
<body>
  <div id="app"></div>

  <script src="/build/chinastartup/scripts/jquery.min.js"></script>
  <script src="/build/chinastartup/scripts/flexgrids.js"></script>
  <script src="/build/chinastartup/scripts/modernizr.custom.97074.js"></script>

  <!-- jQuery plugins -->
  <script src="/build/chinastartup/scripts/jquery.hoverdir.js"></script>
  <script src="/build/chinastartup/scripts/jquery-scrollto.js"></script>

  <!-- jwplayer -->
  <script src="/build/chinastartup/scripts/jwplayer/jwplayer.js"></script>

  <!-- Moment: Time -->
  <script src="/build/chinastartup/scripts/moment.min.js"></script>

  <script src="/build/chinastartup/common.js"></script>
  <script src="/build/chinastartup/bundle.js"></script>
</body>
</html>